# Rust
/target
**/*.rs.bk
*.pdb

# Android / Gradle
.gradle/
**/.gradle/
build/
**/build/
local.properties
**/local.properties
captures/
**/captures/
.externalNativeBuild/
**/.externalNativeBuild/
.cxx/
**/.cxx/
*.apk
*.aab

# IDEs and Editors
.idea/
**/.idea/
*.iml
**/*.iml
.vscode/
**/.vscode/
.kotlin/
**/.kotlin/

# OS Files
.DS_Store
Thumbs.db
